.project {
    display: flex;
    flex-direction: column;
    background: var(--background-secondary-color);
    overflow: hidden;
    border-radius: 10px;
    min-width: min-content;
}

.img {
    position: relative;
    background-size: cover;
    background-position: center center;
    height: 300px
}

.content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: min-content;
}

.header {
    margin: 10px 0px;
}

.tags {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 10px;
}

.tag {
    font-size: 0.8em;
    padding: 5px;
    background: var(--background-tertiary-color);
    border-radius: 10px;
}

.actions {
    flex-grow: 2;
    position: relative;
    padding: 0px 20px;
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: start;
    align-items: end;
}
