@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

@font-face {
    font-family: 
}

:root {
    --background-primary-color: #121212;
    --background-secondary-color: #1a1a1a;
    --background-tertiary-color: #262626;
    --background-light-color: #444444;
    --text-primary-color: #ffffff;
    --text-secondary-color: #dddddd;
    --text-tertiary-color: #aaaaaa;

    --accent-color: #016ACE;

    --border-color: var(--text-primary-color);
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--background-primary-color);
    min-height: 100vh;
}

* {
    color: var(--text-primary-color);
    letter-spacing: 0.1rem;
}

main {
    padding-bottom: 40px;
    min-height: calc(100vh - 168px);
}

main>* {
    margin: 40px;
}

main>section {
    margin: 0px;
}

section>* {
    margin: 40px;
}

a:hover {
    color: var(--accent-color);
}

a svg:hover {
    filter: invert(27%) sepia(41%) saturate(3079%) hue-rotate(191deg) brightness(105%) contrast(106%);
}

button {
    background: none;
    border: 2px solid var(--border-color);
    padding: 10px 40px;
    margin: 20px 0px;
    border-radius: 10px;
    cursor: pointer;
    transition: filter 0.1s linear;
    text-transform: capitalize;
}

button:hover {
    filter: brightness(0.7);
}

/* CSS RESET */

/*
  1. Use a more-intuitive box-sizing model.
*/
* {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
}

*, *::before, *::after {
    box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
    margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
    font: inherit;
}
/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root, #__next {
    isolation: isolate;
}

code {
    background: var(--background-secondary-color);
    border-radius: 10px;
    padding: 2px 10px;
    overflow-x: scroll;
}

pre>code {
    display: block;
    margin: 20px 0px;
    padding: 20px;
}

code {
    counter-reset: line;
    font-size: 0.9em;
}

code > [data-line]::before {
    counter-increment: line;
    content: counter(line);

    /* Other styling */
    display: inline-block;
    width: 1rem;
    margin-right: 2rem;
    text-align: right;
    color: gray;
}

code[data-line-numbers-max-digits="2"] > [data-line]::before {
    width: 2rem;
}

code[data-line-numbers-max-digits="3"] > [data-line]::before {
    width: 3rem;
}

div[data-callout=""][data-callout-type="note"] {
    --title-color: #1b90fe;
    --background-color: #00284c;
    --icon: "\0024D8";
}

div[data-callout=""] {
    padding: 20px;
    background: var(--background-color);
    margin: 20px 0px;
    border-radius: 10px;
    --title-color: #fff;
    --background-color: var(--background-secondary-color);
}

div[data-callout-title=""] {
    font-weight: bold;
    color: var(--title-color);
    margin-bottom: 10px;
}

div[data-callout-title=""]::before {
    content: var(--icon)" ";
}


mark {
    background: var(--background-light-color);
    border-radius: 5px;
    padding: 0px 5px;
}
