@keyframes popin {
    from {top:-64px}
    to {top:0px;}
}

header {
    width: 100vw;
    height: 64px;
    backdrop-filter: blur(10px);
    transition: background-color 0.5s ease-in-out;
    position: sticky;
    top: 0px;
}

header.basic {
    top: -100vh;
    animation-name: popin;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

h1 {
    padding: 0px;
    margin: 0px;
    color: white;
    padding-top: 7px;
}

header.full {
    position: absolute;
    transition: background-color 0.5s ease-in-out;
    width: 100vw;
    height: 100vh;
}

header.full>h1 {
    width: 100vw;
    height: 100vh;
    text-align: center;
    vertical-align: middle;
    transition: 1s;
}