@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

body {
	background: #1b1b1b;
	overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p, a, li {
	font-family: 'Roboto', sans-serif;
	color: white;
}

a {
	text-decoration: none;
	color: #5ad865;
}

a:hover {
	color: #1a9b0e;
}

header {
	display: grid;
	position: sticky;
	background: #1e1e1ecc;
	backdrop-filter: blur(5px);
	width: 100vw;
	height: 64px;
	left: 0px;
	top: 0px;
	margin:-80px;
	z-index: 100;

	grid-template-columns: calc(100vw - 300px) 100px 100px 100px;
}

h1 {
	position: relative;
	font-size: 64px;
	top: 20px;
	margin: 30px;
}

p {
	margin: 0px 30px;
	padding: 20px 0px;
}

section {
	margin: -52px -8px;
	background: #2c2c2c;
	height: fit-content;
}

.headerLink {
	font-size: 16px;
	margin-top: 24px;
}

#logo {
	margin-left: 32px;
}

.background {
	background-image: url("background.jpg");
	width: 100vw;
	height: 100vh;
	margin: -8px;
	margin-top: 88px;
	z-index: 1;
}

.stats {
	position: relative;
	display: grid;
	width: 100vw;
	top: 20px;
	height: 128px;
	margin: -8px;
	grid-template-columns: 33% 33% 33%;
}

.statCounter {
	position: relative;
	text-align: center;
	top: -75px;
	font-size: 64px;
	color: #5ad865;
}

.statInfo {
	text-align: center;
	margin-top: -150px;
	color: #1a9b0e;
}

.projectContainer {
	display: grid;
	margin-left: 2%;
	grid-template-columns: calc(33vw - 1%) calc(33vw - 1%) calc(33vw - 1%);
	margin-top: 25px;
}

.project {
	position: relative;
	padding: 10px;
	width: 90%;
	background: #313131;
	cursor: pointer;
	transition: ease-in-out 0.25s;
}

.project:hover {
	background: #444444;
	transform: translateY(-10px);
	transition: ease-in-out 0.25s;
}

.project>h2 {
	position: absolute;
	width: 100%;
	text-align: center;
	z-index: 200;
	top: 55px;
}

.project>img {
	position: relative;
	width: 100%;
	filter:blur(5px);
	z-index: 100;
}